html{
    background-color: #131313;
    scroll-behavior: smooth;
}

@keyframes fadeIn {  
    from {  
        opacity:0; 
        transform: translateY(50px) 
    }  
 
    to {  
        opacity:1;  
        transform: translateY(0)
    }  
 }

 .slide-up{
  animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both
 }
 .reveal{
  animation: fadeIn .5s ease-in-out;
  animation-delay: 0.35;
 }
 .change-linkedin-color{
    color: "#0077B5"
 }
 .change-linkedin-color:hover{
    color: "#0083c7";
    box-shadow: "0px 0px 20px white";
 }
 svg:hover, #ig:hover{
    filter: drop-shadow(0px 0px 10px rgba(226, 226, 226, 0.4));
 }
 .jumbo-bottom{
    margin-top: 0%; 
    margin-left: 40px; 
    display: flex;
 }
 .jumbo-top{
    margin-top: -10%;
 }
 .nav-master{
    background-color: #171717;
    transition: opacity 0.4s;
 }
 .nav-master-hidden{
    opacity: 0;
 }
.nav{
    transition: transform 0.3s;
}
 .nav-hidden{
    transform: translateY(-300px);
 }
 .text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: -15%;
 }
.typing-icons{
   width: 5px;
   color:gray;
   background-color: gray;
   animation: types 1s ease-in-out infinite;
   animation-direction: alternate-reverse;
}
  
  .scene {
      width: 400px;
      height: 400px;
      perspective: 600px;
  }
  
  .cube {
      position: relative;
      transform-style: preserve-3d;
      transform: translateZ(-300px);
      animation: spin 8s linear 0s infinite forwards;
  }
  
  .cube-face {
   width: 500px;
   height: 500px;
   text-shadow: 0 0 10px white;
   position: absolute;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
  }
  
  .front{
      transform: translateZ(100px);
  }

  
  .back {
      transform: rotateY(180deg) translateZ(100px);
  
  }

  
  .left {
      transform: rotateY(-90deg) translateZ(100px);
  
  }

  .left-top {
      transform: rotateY(130deg) translateZ(100px);
  
  }
  .left-bottom {
      transform: rotateY(-130deg) translateZ(100px);
  
  }
  
  .right{
      transform: rotateY(90deg) translateZ(100px);
  
  }
  .right-top{
      transform: rotateY(48deg)  translateZ(100px);
  }
  .right-bottom{
      transform: rotateY(-48deg)  translateZ(100px);
  }
  
  .top {
      transform: rotateX(90deg) translateZ(100px);
  
  }
  .top-right{
      transform: rotateX(90deg) rotateY(55deg) translateZ(100px);
  }
  .top-left{
      transform: rotateX(90deg) rotateY(-55deg) translateZ(100px);
  }
  .bottom {
      transform: rotateX(-90deg) translateZ(100px);
  }
  .bottom-right {
      transform: rotateX(-90deg) rotateY(-50deg) translateZ(100px);
  }
  .bottom-left {
      transform: rotateX(-90deg) rotateY(50deg) translateZ(100px);
  }
  .about{
   height: 650px;
  }
  .about-box{
   width: 40%;
   height: 230px;
  }
  .icons-hover:hover{
   color: #4ade80;
  }
  .icons-hover{
   color: white;
  }

  @keyframes types{
   from{
      opacity: 0;
   }
   to{
      opacity: 1;
   }
  }

  @keyframes spin {
      0% {
          transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
      
      }
  
      100% {
          transform:  rotateX(360deg) rotateZ(360deg);
      }
  
  } 
  
 @media only screen and (max-width: 720px){
    
    .mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        padding-left: 10px;
        margin-right: 0px;
        text-align: center;

    }
    .jumbo-top{
        margin-top: 0;
        margin-left: 0;
        padding-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .mobile-top{
        margin-top: 0;
        margin-left: 0;
    }
    .about{
      height: 800px;
    }
    .about-box{
      width: 70%;
      height: auto;
    }
    .hide{
      visibility: hidden;
  }
 }
